@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    h1#principal {
        position: absolute;
        top: 40%;
        text-align: center;
        font-size: 3.5em;
        text-shadow: 1px 1px 0px whitesmoke;
    }
    img#avatar4 {
        display: block;
        position: relative;
        top: 10%;
        left: 70%;

    }
    img#avatar5 {
        display: block;
        position: absolute;
        left: 75%;
    }

    img#avatar6 {
        display: block;
        position: absolute;
        left: 79%;
        top: 5%;

    }
    section div p {
        position: absolute;
        top: 60%;
        margin-left: 20px;
        color: rgb(201, 201, 201);
        font-size: 1.5em;
       
        
    }
    div#getnot {
        position: absolute;
        top: 80%;
        margin-top: 30px;
        margin-left: 20px;
        padding: 15px;
        background-color: rgb(76, 250, 224);
        width: 200px;
        border-radius: 5px;
        color: rgb(0, 74, 98);
        
        
    }
    }

    @media screen and (min-width: 992px) {
        h1#principal {
            position: absolute;
            top: 40%;
            text-align: center;
            font-size: 3.5em;
            text-shadow: 1px 1px 0px whitesmoke;
        }
        img#avatar4 {
            display: block;
            position: relative;
            top: 10%;
            left: 70%;
    
        }
        img#avatar5 {
            display: block;
            position: absolute;
            left: 75%;
        }
    
        img#avatar6 {
            display: block;
            position: absolute;
            left: 79%;
            top: 5%;
    
        }
        section div p {
            position: absolute;
            top: 55%;
            margin-left: 20px;
            color: rgb(201, 201, 201);
            font-size: 1.5em;
           
            
        }
        div#getnot {
            position: absolute;
            top: 70%;
            margin-top: 30px;
            margin-left: 20px;
            padding: 15px;
            background-color: rgb(76, 250, 224);
            width: 200px;
            border-radius: 5px;
            color: rgb(0, 74, 98);
            
            
        }
        }
    
